## Samples available datasets

In [98]:
from rdatasets import data, descr, summary

In [99]:
 df = summary()
df.head()

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,boot,acme,Monthly Excess Returns,60,3,0,1,0,0,2,https://raw.github.com/vincentarelbundock/Rdat...,https://raw.github.com/vincentarelbundock/Rdat...
1,boot,aids,Delay in AIDS Reporting in England and Wales,570,6,1,0,0,0,6,https://raw.github.com/vincentarelbundock/Rdat...,https://raw.github.com/vincentarelbundock/Rdat...
2,boot,aircondit,Failures of Air-conditioning Equipment,12,1,0,0,0,0,1,https://raw.github.com/vincentarelbundock/Rdat...,https://raw.github.com/vincentarelbundock/Rdat...
3,boot,aircondit7,Failures of Air-conditioning Equipment,24,1,0,0,0,0,1,https://raw.github.com/vincentarelbundock/Rdat...,https://raw.github.com/vincentarelbundock/Rdat...
4,boot,amis,Car Speeding and Warning Signs,8437,4,1,0,0,0,4,https://raw.github.com/vincentarelbundock/Rdat...,https://raw.github.com/vincentarelbundock/Rdat...

In [100]:
 df.loc[df["Item"] == "Boston"]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
765,MASS,Boston,Housing Values in Suburbs of Boston,506,14,1,0,0,0,14,https://raw.github.com/vincentarelbundock/Rdat...,https://raw.github.com/vincentarelbundock/Rdat...

In [101]:
boston = data("MASS", "Boston")
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [102]:
 df.loc[df["Item"] == "Oil"]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
470,Ecdat,Oil,Oil Investment,53,11,0,0,0,0,11,https://raw.github.com/vincentarelbundock/Rdat...,https://raw.github.com/vincentarelbundock/Rdat...

In [105]:
Oil = data("Ecdat", "Oil")
Oil.head()

,dur,size,waterd,gasres,operator,p,vardp,p97,varp97,p98,varp98
0,86,235,126,1140,2576.0,2.1834,1.8700,2.0480,3.298,2.2091,3.905
1,227,105,91,0,16000.0,1.3894,2.4000,2.0047,4.622,2.0542,4.818
2,17,70,76,0,584.0,0.9321,0.0070,0.9076,0.178,0.9056,0.179
3,12,96,85,0,16175.0,0.9893,0.0070,0.8993,0.150,0.8939,0.155
4,99,70,140,0,2445.0,2.2432,1.9576,2.0662,3.258,2.2089,3.833

In [106]:
 df.loc[df["Item"] == "Airline"]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
383,Ecdat,Airline,Cost for U.S. Airlines,90,6,0,0,0,0,6,https://raw.github.com/vincentarelbundock/Rdat...,https://raw.github.com/vincentarelbundock/Rdat...

In [107]:
Airline = data("Ecdat", "Airline")
Airline.head()

   airline  year     cost    output      pf        lf
0        1     1  1140640  0.952757  106650  0.534487
1        1     2  1215690  0.986757  110307  0.532328
2        1     3  1309570  1.091980  110574  0.547736
3        1     4  1511530  1.175780  121974  0.540846
4        1     5  1676730  1.160170  196606  0.591167

In [108]:
 df.loc[df["Item"] == "Housing"]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
432,Ecdat,Housing,Sales Prices of Houses in the City of Windsor,546,12,6,0,6,0,6,https://raw.github.com/vincentarelbundock/Rdat...,https://raw.github.com/vincentarelbundock/Rdat...

In [109]:
Housing = data("Ecdat", "Housing")
Housing.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [110]:
 df.loc[df["Item"] == "Journals"]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
439,Ecdat,Journals,Economic Journals Dat Set,180,10,1,0,4,0,6,https://raw.github.com/vincentarelbundock/Rdat...,https://raw.github.com/vincentarelbundock/Rdat...

In [111]:
Journals = data("Ecdat", "Journals")
Journals.head()

,title,pub,society,libprice,pages,charpp,citestot,date1,oclc,field
0,Asian-Pacific Economic Literature,Blackwell,no,123,440,3822,21,1986,14,General
1,South African Journal of Economic History,So Afr ec history assn,no,20,309,1782,22,1986,59,Ec History
2,Computational Economics,Kluwer,no,443,567,2924,22,1987,17,Specialized
3,MOCT-MOST Economic Policy in Transitional Econ...,Kluwer,no,276,520,3234,22,1991,2,Area Studies
4,Journal of Socio-Economics,Elsevier,no,295,791,3024,24,1972,96,Interdisciplinary